<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible"
  content="IE=edge">
  <meta name="viewport" content="width=device-width", initial-scale="1.0">
  <link rel="stylesheet" href="css/stylesheet.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>Jukeboxx - song list</title>
</head>
<body>
  <%- include('layouts/header') -%>

  <div class="d-flex .flex-wrap mr-auto">
    <% for(var i = 0; i < songs.length; i++) { %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= songs[i].img %>" alt="<%= songs[i].title %>'s album photo">
        <div class="card-body">
          <h5 class="card-title"><%= songs[i].title %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= songs[i].artist %></h6>
          <p class="card-text"><%= songs[i].year %></p>
        </div>
      </div>
      <% } %>
  </div>
</body>